VITE_SUPABASE_URL=https://aafbgkahsuwnhwdntwhm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFhZmJna2Foc3V3bmh3ZG50d2htIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NzgxODksImV4cCI6MjA4OTM1NDE4OX0.IrrOYA3BFhzJbgG-Ug-s5d9O8ggrn6920iaSm9o5gMs
